@import "../styles.scss";

.sandboxContainer {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: auto;
  grid-gap: 5px;
  background-color: $background-color;
  height: 100vh;
}
