<ul class="sidebar list">
  <li class="sidebar item triangle">
    <svg attr.height.px="{{height}}"
      attr.width.px="{{width}}">
      <svg:g triangle [width]="width" [height]="height"></svg:g>
    </svg>
  </li>
  <li class="sidebar item square">
    <svg attr.height.px="{{height}}"
      attr.width.px="{{width}}">
      <svg:g box [width]="width" [height]="height"></svg:g>
    </svg>
  </li>
  <li class="sidebar item circle">
    <svg attr.height.px="{{height}}"
      attr.width.px="{{width}}">
      <svg:g circle [width]="width" [height]="height"></svg:g>
    </svg>
  </li>
</ul>
