<!-- svg elements do not support drag and drop events forced to wrap them in divs -->

<ul class="sidebar list">
  <li class="sidebar item triangle">
    <div appDraggable
      class="triangle"
      >
      <svg attr.height.px="{{height}}"
        attr.width.px="{{width}}">
        <svg:g triangle [width]="width" [height]="height" color="blue"></svg:g>
      </svg>
    </div>
  </li>
  <li class="sidebar item square">
    <div appDraggable
      class="square"
      >
      <svg attr.height.px="{{height}}"
        attr.width.px="{{width}}">
        <svg:g box [width]="width" [height]="height" color="red"></svg:g>
      </svg>
    </div>
  </li>
  <li class="sidebar item circle">
    <div appDraggable
      class="circle"
      >
      <svg attr.height.px="{{height}}"
        attr.width.px="{{width}}">
        <svg:g circle [width]="width" [height]="height" color="yellow"></svg:g>
      </svg>
    </div>
  </li>
  <li class="test drag">
    <p class="text" draggable="true" (dragstart)="drag($event)">Hello</p>
  </li>
</ul>
