<div
  appDraggable
  (click)="showHandles($event)"
  class="canvasElement"
  [style.top]="y"
  [style.left]="x"
  id={{id}}>
  <div appDraggable class="handle topLeft"></div>
  <div appDraggable class="handle topRight"></div>
  <div appDraggable class="handle bottomLeft"></div>
  <div appDraggable class="handle bottomRight"></div>
  <svg attr.height.px="{{height}}"
    attr.width.px="{{width}}">
    <svg:g *ngIf="type === 'triangle'"
      triangle
      [width]="width"
      [height]="height"
      [color]="color"></svg:g>
    <svg:g *ngIf="type === 'square'"
      box
      [width]="width"
      [height]="height"
      [color]="color"></svg:g>
    <svg:g *ngIf="type === 'circle'"
      circle
      [width]="width"
      [height]="height"
      [color]="color"></svg:g>
  </svg>
</div>
